
hello.o
hello.exe
openConsole.bat
CMakeFiles/generate.stamp.list
CMakeFiles/CMakeOutput.log
CMakeFiles/cmake.check_cache
CMakeFiles/3.19.2/VCTargetsPath.vcxproj
CMakeFiles/3.19.2/VCTargetsPath.txt
CMakeFiles/3.19.2/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
CMakeFiles/3.19.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CMakeFiles/3.19.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CMakeFiles/3.19.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
CMakeFiles/3.19.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CMakeFiles/3.19.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
CMakeFiles/3.19.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CMakeFiles/3.19.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
CMakeFiles/3.19.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
CMakeFiles/3.19.2/CompilerIdCXX/CompilerIdCXX.vcxproj
CMakeFiles/3.19.2/CompilerIdCXX/CompilerIdCXX.exe
CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.19.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
CMakeFiles/3.19.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
CMakeFiles/3.19.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
CMakeFiles/3.19.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
CMakeFiles/3.19.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
CMakeFiles/3.19.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
CMakeFiles/3.19.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
CMakeFiles/3.19.2/CompilerIdC/Debug/CMakeCCompilerId.obj
CMakeFiles/3.19.2/CompilerIdC/CompilerIdC.vcxproj
CMakeFiles/3.19.2/CompilerIdC/CompilerIdC.exe
CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.19.2/CMakeSystem.cmake
CMakeFiles/3.19.2/CMakeRCCompiler.cmake
CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
CMakeFiles/3.19.2/CMakeCCompiler.cmake
CMakeCache.txt
.vs/Tutorial/v15/.suo
.vs/Tutorial/v15/Browse.VC.db
.vs/Tutorial/v15/Solution.VC.db
.vs/Tutorial/v15/Solution.VC.db-shm
.vs/Tutorial/v15/Solution.VC.db-wal
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj.user
cmake_install.cmake
CMakeFiles/302b7ba42524617ebf2bef5b47be5a9b/generate.stamp.rule
CMakeFiles/generate.stamp
CMakeFiles/generate.stamp.depend
CMakeFiles/TargetDirectories.txt
Debug/Tutorial.exe
Debug/Tutorial.ilk
Debug/Tutorial.pdb
Tutorial.dir/Debug/hello.obj
Tutorial.dir/Debug/Tutorial.log
Tutorial.dir/Debug/Tutorial.tlog/CL.command.1.tlog
Tutorial.dir/Debug/Tutorial.tlog/CL.read.1.tlog
Tutorial.dir/Debug/Tutorial.tlog/CL.write.1.tlog
Tutorial.dir/Debug/Tutorial.tlog/custombuild.command.1.tlog
Tutorial.dir/Debug/Tutorial.tlog/custombuild.read.1.tlog
Tutorial.dir/Debug/Tutorial.tlog/custombuild.write.1.tlog
Tutorial.dir/Debug/Tutorial.tlog/link.command.1.tlog
Tutorial.dir/Debug/Tutorial.tlog/link.read.1.tlog
Tutorial.dir/Debug/Tutorial.tlog/link.write.1.tlog
Tutorial.dir/Debug/Tutorial.tlog/Tutorial.lastbuildstate
Tutorial.dir/Debug/vc141.pdb
Tutorial.sln
Tutorial.vcxproj
Tutorial.vcxproj.filters
Tutorial.vcxproj.user
Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
